.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.Buttons {
  width: 66vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Buttons>* {
  margin-left: 10%;
  margin-right: 10%;
}
