.stage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.game {

}

.score {

}

.quit {

}
